html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 120%;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}