// grey pallet
$grey-darkest: #24272C;
$grey-darker: #67727D;
$grey-dark: #A9B4C2;
$grey-light: #CBD3DB;
$grey-lighter: #E4ECF4;
$grey-lightest: #F4F7FB;

// static colors
$color-success: #6AA530;
$color-warning: #E9C83F;
$color-danger: #E02D03;
$color-info: #17a2b8;

// main colors
$color-text: $grey-darkest;
$color-bg: #fff;
$color-primary: #222;
$color-secondary: #444;
$color-tertiary: #666;

// css variables
:root {
  --color-text: #{$color-text};
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
}