.app-header {
  box-sizing: border-box;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 .5rem 0 1.5rem;
  background-color: $grey-darkest;
  color: $grey-lightest;

  > .title {
    @include letter-spacing;
    text-transform: uppercase;

    @include for-tablet-landscape-up {
      @include alignXY;
      font-size: $font-huge;
      font-weight: 200;
    }

    > .name {
      display: none;

      @include for-tablet-portrait-up {
        display: inline;
      }
    }
  }
  > .nav {
    display: flex;
    align-items: center;
    height: 100%;

    @include for-tablet-landscape-up {
      margin-left: auto;
    }

    > .link {
      display: flex;
      align-items: center;
      height: inherit;
      padding-left: .5rem;
      padding-right: .5rem;
      margin-right: .5rem;
      user-select: none;
      position: relative;

      &::before {
        content: attr(data-label);
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
      &.active {
      }
    }
  }
}

.app-content {
  @extend .full-container;
  height: 92vh;
  overflow: auto;
}

.portfolio-header {
  @extend .full-container;
  flex-shrink: 0;

  > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/logo-denis-toledo.svg);
    background-repeat: no-repeat;
    background-size: 10vh;
    background-position: center calc(10vh + 1.5rem);
    background-attachment: fixed;

    @include for-tablet-portrait-up {
      background-size: 12vh;
    }
    @include for-tablet-portrait-up {
      background-size: 15vh;
    }

    > .title {
      @include letter-spacing;
      text-align: center;
      padding: calc(10vh + 3rem) 1.5rem 1.5rem 1.5rem;
      font-weight: 200;
      font-size: $font-large;
      line-height: 150%;
      text-transform: uppercase;
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 10%,rgba(255, 255, 255, 0) 90%);

      @include for-tablet-portrait-up {
        width: 80vw;
        font-size: $font-huge;
        padding: calc(12vh + 3rem) 1.5rem 1.5rem 1.5rem;
      }
      @include for-tablet-portrait-up {
        width: 60vw;
        font-size: $font-huge-x;
        padding: calc(15vh + 3rem) 1.5rem 1.5rem 1.5rem;
      }
    }
  }
}

.portfolio-filter {
  width: 100%;
  background-color: inherit;
  display: block;
  text-align: center;

  > .filter {
    padding: 1rem;
    font-size: $font-small;

    > .select {
      font-size: inherit;
      padding: .5rem 0;
      border: 1px solid $grey-lighter;

      &:focus {
        outline: 0;
      }
    }
  }
}