<nav>
  {{#link-to "portfolio" class="btn-portfolio"}}
    Portfolio
  {{/link-to}}
  {{#link-to "about" class="btn-about"}}
    About
  {{/link-to}}
  {{#link-to "contact" class="btn-contact"}}
    Contact
  {{/link-to}}
</nav>

<main>
  {{outlet}}
</main>