<main class="app-main">
  <header class="app-header">
    <h1 class="title">
      <span class="name">Denis </span>Toledo
    </h1>

    <nav class="nav">
      {{#link-to
        "portfolio" 
        class="link" 
        data-label="Portfolio"
        data-test-link-portfolio=""
      }}
        Portfolio
      {{/link-to}}
      {{#link-to 
        "about" 
        class="link" 
        data-label="About" 
        data-test-link-about=""
      }}
        About
      {{/link-to}}
      {{#link-to 
        "contact" 
        class="link" 
        data-label="Contact"
        data-test-link-contact=""
      }}
        Contact
      {{/link-to}}
    </nav>
  </header>

  <section class="app-content">
    {{outlet}}
  </section>
</main>