<div class="portfolio-header">
  <header class="header">
    <h1 class="title">
      I am a front-end developer, an enthusiast UX/UI designer and also a graphic designer.
    </h1>
  </header>
</div>

<section class="portfolio-filter">
  <div class="filter">
    <span class="label">Sort portfolio by</span>
    <select name="" class="select" id="">
      <option value="" selected>all works</option>
      <option value="">front-end</option>
      <option value="">UX/UI</option>
      <option value="">graphic design</option>
    </select>
  </div>
</section>

{{#each model as |portfolioData|}}
  {{portfolio-listing portfolio=portfolioData}}
{{/each}}