<div class="full-container portfolio-header">
  <header class="container header">
    I am a front-end developer, an enthusiast User Experience designer, a specialist User Interface designer and I also have a vast experience with graphic design.
  </header>
</div>
{{#each model as |portfolioData|}}
  {{portfolio-listing portfolio=portfolioData}}
{{/each}}